body {
    direction: rtl
 
}

h {
    color: black;
    font-style: italic;
    font-size: 150pt;
    text-align: center
}
h1 {
    color: black;
    font-style: italic;
    font-size: 50pt;
    text-align: center
}



p {
    direction:rtl;
    font-size: 50pt;
    text-align: center;
   }
a {
    float: right;
    font-size: 30pt;
}





