body {
}
table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    direction: rtl;
}
td  {
    border: 3px solid black;
    padding: 8px;
}
th {
    border: 3px solid black;
    padding: 8px;
    background-color: lightgray;
}

